{% extends 'main.html' %}
{% load static %}
<link rel="stylesheet" href="{%  static 'css/main.css' %}">
{% block content %}
<div class="container1">
    <h1 class="title">Tips to dress for your body type</h1>
    <p style="font-size: 20px;"> Before we jump into the specifics of how to dress a Inverted-triangle-shaped body,
       there are a few universal tips we’d like to share. These are important 
       to remember regardless of what shape or size you are, because they’re 
       designed to help anyone create a proportioned frame.
   </p>


<ul class="flex-container">
    <li class="flex-item">
        <div class="u-md-size1of3 text">
            <div class="bg--soft-white padding-A--lg">
                      <div class="text-center">
      <p><b class="flex-title">1.Balance it out</b></p>

      <p style="font-weight:500; color: white;">Body shape is almost entirely based on your bone structure—not your weight. 
          Use your outfit to balance your shoulders, bust, waist, and hips.</p>
      </div>
      
            
            </div>
    </li>
    <li class="flex-item">
        <div class="u-md-size1of3 text">
            <div class="bg--soft-white padding-A--lg">
                      <div class="text-center">
      <p><b class="flex-title">2. Draw the eye</b></p>
      <p style="font-weight:500; color: white;">Use lines to focus the eye where you want it to go. They can help you create curves, lengthen, or emphasize your favorite parts of your body.</p>
      </div>
      
            
            </div>
          </div>
    </li>
    <li class="flex-item">
        <div class="u-md-size1of3 text">
            <div class="bg--soft-white padding-A--lg">
                      <div class="text-center">
      <p><b class="flex-title">3. Think about color</b></p>
      <p style="font-weight:500; color: white;">Your eye is also drawn to patterns and light, bright colors more so than solid black or navy. Keep this in mind when choosing separates.</p>
      </div>
      
            
            </div>
          </div>
    </li>
   
  </ul>
  <br>
 <div class="wear">
  <h1 class="title"> What to wear if you have a Inverted-triangle-shaped body</h1>
  <p style="font-size: 20px;"> Now that we’ve established a baseline, let’s get specific.
    Here are the best tops, jackets, pants, dresses, and accessories to complement 
    a Inverted-triangle-shaped frame.</p>
 
</div>
<img src="{% static 'images/ITtop.png' %}" alt="">
<h1 class="title">Best Jeans for You</h1>
 
    <img src="{% static 'images/ITjeans.png' %}" alt="">

    <h1 class="title">Best pants for You</h1>
   
         <img src="{% static 'images/ITpants.png' %}" alt="">      
     
         <h1 class="title">Best dresses for You</h1>
      
              <img src="{% static 'images/ITdress.png' %}" alt="">   
              <h1 class="title">Best Jackets for You</h1>
      
              <img src="{% static 'images/ITjacket.png' %}" alt="">  
              </div>             
{% endblock %}